extends layout
block main
	h1 Пропозиції
	ul
		for suggestion in suggestions
			li 
				a(href=`/suggestions/${suggestion.id}`)= suggestion.title
				|(#{suggestion.voters.size})
				form(method='POST' action=`/suggestions/${suggestion.id}`)
					button(type='submit')= suggestion.voters.has(username) ? 'Відмінити голос' : 'Проголосувати'

	form(method='POST')
		input(type='text' name='title' placeholder='Назва гри')
		button(type='submit') Запропонувати
